{% for node in groups["workers"] %}
{{ node }} workernode{{ lookup('ansible.utils.index_of', groups["workers"], 'eq', node) + 1 }}
{% endfor %}

{% for node in groups["hostnode"] %}
{{ node }} hostnode
{% endfor %}